<h2>{{messageFromParent}}</h2>
<button (click)='callingChild()'>CALLING CHILD</button>
<app-child #reference [messageFromChild]='messageToChild' [getParentValue]='displayChildValue' [getCount]='this.Counter' (callParentFromChildEmitter)='ParentMethod($event)'></app-child>
<h2>Parent Component: {{callingFromChild}}</h2>

<h2>Calling Child Using Reference Variable: {{reference.messageFromChild}}</h2>
<h2>Calling Child Using Reference Variable: {{reference.firstName +" "+ reference.lastName}}</h2>
<button (click)='reference.displayAlertMessage()'>GET ALERT</button>